@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*Order Card*/

.order-card {
  background-color: #4d4afb;       
  padding: 1.25rem;
  border-radius: 1rem;           
  margin-bottom: 0.75rem;  
  text-align: left;    
  color: #FFFFFF;  
  font-weight: bold;  
  display: flex;
  flex-direction: column;
  
}

.order-card__id {                           
  font-size: 0.55em;             
}

.order-card__name {
  font-size: 0.875rem;             
  padding-top: 0.6rem;
}

.order-card__address {
  font-size: 0.875rem; 
}

/*Order Columns */

.order-column__header {
  font-size: 1em;         /* text-[1em] */
  font-weight: 600;       /* font-semibold */
  margin: 0.25rem;        /* m-1 */
  text-align: left;       /* text-left */
  color: #040273;         /* text-[#040273] */
  padding-bottom: 0.5rem; /* pb-2 */
}

.order-column__background {
   flex: 1;                              /* flex-1 */
  background-color: #ffffff;            /* bg-white */
  padding: 1rem;                        /* p-4 */
  overflow-y: auto;                     /* overflow-y-auto */
  max-height: 80vh;                     /* max-h-[80vh] */
  border-radius: 1.5rem;                /* rounded-3xl */
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.order-card__timestamp {
  padding-top: 1rem;
  margin-top: auto;
  color: #07056a;  
  font-size: 0.55em;   
}
