@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'leaflet/dist/leaflet.css';

html, body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

#root {
  overflow-x: hidden;
}

.leaflet-container {
  height: 100vh !important;
  width: 100% !important;
}

/* Ensure map tiles load properly */
.leaflet-tile {
  filter: none !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
